<!DOCTYPE html>
<html lang="en">
    <head>
        <title>fede</title>
        {{#development}}
        <link href="css/index.css" type="text/css" media="all" rel="stylesheet" />
        {{/development}}
        {{#production}}
        <link href="css/index.min.css" type="text/css" media="all" rel="stylesheet" />
        {{/production}}
    </head>
    <body>
        <p>hello fede!</p>

        {{#development}}
        <script type="text/javascript" src="libs/requirejs/require.js"></script>
        <script type="text/javascript" src="js/require-config.js"></script>
        <script type="text/javascript" src="js/app/index/main.js"></script>
        {{/development}}
        {{#production}}
        <script type="text/javascript" src="js/index.min.js"></script>
        {{/production}}
    </body>
</html>